<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <Property Id="WixShellExecTarget" Value="[#VolumeCorrector.exe]" />
	  <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

  </Fragment>
</Wix>
