<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Product.Version="1.0.0.0" ?>

	<Product Id="*" 
	         Name="!(loc.Product.Name)"
	         Language="1033"
	         Version="$(var.Product.Version)"
	         Manufacturer="!(loc.Product.Manufacturer)"
	         UpgradeCode="25c7b3ef-cddb-410c-9967-89f671e306f2">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

	  <Directory Id="TARGETDIR" Name="SourceDir">
	    <Directory Id="ProgramFilesFolder">
	      <Directory Id="INSTALLFOLDER" Name="VolumeCorrector" />
	    </Directory>
	  </Directory>
    
    <FeatureRef Id="VolumeCorrectorFeature"/>
    
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high"/>

	  <UIRef Id="SetupUI" />
	</Product>
</Wix>
