<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "Volume Corrector"?>
  <?define Version="!(bind.FileVersion.VolumeCorrector.exe)" ?>
  <?define Company = "Gvin"?>
  <?define BaseProductName="VolumeCorrector"?>

	<Product Id="7628A6ED-87B2-443F-9944-B22F8BB6B012" 
	         Name="$(var.ProductName) $(var.Version)"
	         Language="1033"
	         Version="$(var.Version)"
	         Manufacturer="$(var.Company)"
	         UpgradeCode="25c7b3ef-cddb-410c-9967-89f671e306f2">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

	  <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

	  <!-- Prerequisites   -->
	  <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED" />
	  <Condition Message="!(loc.Product.NetFramework46Warning)">
	    <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
	  </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
	    <Directory Id="ProgramFilesFolder">
	      <Directory Id="INSTALLFOLDER" Name="$(var.BaseProductName)" />
	    </Directory>
	  </Directory>
    
    <FeatureRef Id="VolumeCorrectorFeature"/>
    
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high"/>

    <UI>
      <UIRef Id="SetupUI" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
	  <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
	  <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.Product.LaunchOnSetupExit)" />
    <Property Id="AUTO_START" Value="1" Secure="yes"/>
	</Product>
</Wix>
