<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="VolumeCorrectorFeature">
      <ComponentRef Id="VolumeCorrectorComponent"/>
      <ComponentRef Id="VolumeCorrectorRuComponent"/>
      <ComponentRef Id="ConfigureAutoStartComponent"/>
    </Feature>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="VolumeCorrectorComponent" KeyPath="yes" Guid="B0DB683B-68BF-498B-A11F-B4ABB75219B3">
        <!-- Main Program Files -->
        <File Id="VolumeCorrector.exe" Source="$(var.VolumeCorrector.TargetPath)"/>
        <File Id="VolumeCorrector.exe.config" Source="$(var.VolumeCorrector.TargetPath).config"/>
        <!-- Injection library -->
        <File Id="Gvin.Injection.dll" Source="$(var.Injection.TargetPath)"/>
        <!-- NAudio Library -->
        <File Id="NAudio.dll" Source="..\External\NAudio\NAudio.dll"/>
      </Component>

      <Directory Id="Resources.RU" Name="ru">
        <Component Id="VolumeCorrectorRuComponent" KeyPath="yes" Guid="43F768F3-DB84-41F9-95F5-491D010BB9CC">
          <File Id="VolumeCorrector.resources.dll.RU" Source="$(var.VolumeCorrector.TargetDir)\ru\VolumeCorrector.resources.dll"/>
        </Component>
      </Directory>

      <!-- Specifies registry flag that will enable automatic app start on Windows launch -->
      <Component Id="ConfigureAutoStartComponent" KeyPath="yes" Guid="63006BA3-9794-4D4C-A813-5A8B42BFD53E">
        <Condition>AUTO_START = 1</Condition>
        <RegistryValue Id="ConfigureAutoStart" Root="HKLM" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="Volume Corrector"
                       Value="[INSTALLFOLDER]VolumeCorrector.exe"
                       Type="string"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
